---
layout: dufault
title: 我的blog
---
<h2>{{ page.title }}</h2>
<p>最新blog</p>
<ul>
{% for post in site.posts %}
<li>{{post.date |date_to_string }} <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
{% endfor %}
</ul>
